@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body{
    font-family: Roboto, sans-serif;
    margin:0;
    height: 100%;
    background-color: #FAF7F0 ;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    margin:0;
}

.calculator-container{
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    padding: 10px;
    width: 330px;
    height: 350px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.display{
    display: flex;
    justify-content: right;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    background-color: white;
    width: auto;
    min-height: 45px;
    margin: 1px;
    align-items: center;
    padding-right: 5px;
}

.calculator-container{
    display: flex;
    flex-direction: column;
}

.button-row-container{
    margin-top: 15px;

}

.button-row{
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    padding: 1px;

}
.button-number{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    background-color: #EAE0DA;
    width: 75px;
    height: 45px;
    margin: 1px;
    align-items: center;

}

.button-operator{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    background-color: lightgray;
    width: 75px;
    height: 45px;
    margin: 1px;
    align-items: center;
}

.button-special{
    width: 155px;
    height: 45px;
    background-color: #EAC7C7;


}

.button-calculate{
    background-color: #A0C3D2;
    color: white;
}

.active{
    background-color: #ECA869;
}